body {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

.main {
  width: 700px;
  margin: auto;
  margin-top: 40px;
}

.box:first-of-type {
  margin-right: 50px;
}

.box {
  width: 280px;
  padding: 20px;
  border-radius: 5px;

  display: inline-block;
  text-align: right;

  background-color: #eee;
  color: #111;
}

.box .count {
  font-size: 96px;
}

.box .noun {
  font-size: 18px;
}

