body {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

.main {
  padding: 2%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.box {
  box-sizing: border-box;

  width: 48%;
  padding: 20px;
  border-radius: 5px;

  text-align: right;

  background-color: #eee;
  color: #111;
}

.box .count {
  font-size: 96px;
}

.box .noun {
  font-size: 18px;
}

